#fpPostForm {
    background: -webkit-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
    background: -moz-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
    background: linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
    margin: auto;
    position: relative;
    width: 550px;
    min-height: 450px;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 14px;
    font-style: italic;
    line-height: 24px;
    font-weight: bold;
    color: #09C;
    text-decoration: none;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid #999;
    border: inset 1px solid #333;
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

#fpPostForm label {

    display: block;

}

#fpPostForm input {
    width: 100%;
    display: block;
    border: 1px solid #999;

    padding: 5px 20px;
    border-radius: 5px;
    margin: 5px 0 20px 0;
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

#fpPostForm textarea {

}

#fpPostForm .fpSubmitButton {
    /* Font & Text */

    font-size: 18px;
    font-style: italic;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: normal;
    line-height: 28.8px;
    text-decoration: none;
    text-align: center;
    text-indent: 0px;
    text-transform: none;
    vertical-align: baseline;
    white-space: normal;
    word-spacing: 0px;

    /* Color & Background */
    background-attachment: scroll;
    background-color: rgb(255, 193, 7);
    background-image: none;
    background-position: 0% 0%;
    background-repeat: repeat;
    color: rgb(255, 255, 255);

    /* Box */
    height: 40px;
    width: 93.875px;
    border: 0px none rgb(255, 255, 255);
    border-top: 0px none rgb(255, 255, 255);
    border-right: 0px none rgb(255, 255, 255);
    border-bottom: 0px none rgb(255, 255, 255);
    border-left: 0px none rgb(255, 255, 255);
    margin: 0px;
    padding: 0px 20px;
    max-height: none;
    min-height: 0px;
    max-width: none;
    min-width: 0px;

    /* Positioning */
    position: static;
    top: auto;
    bottom: auto;
    right: auto;
    left: auto;
    float: right;
    display: block;
    clear: none;
    z-index: auto;

    /* List */
    list-style-image: none;
    list-style-type: disc;
    list-style-position: outside;

    /* Table */
    border-collapse: separate;
    border-spacing: 0px 0px;
    caption-side: top;
    empty-cells: show;
    table-layout: auto;

    /* Miscellaneous */
    overflow: visible;
    cursor: pointer;
    visibility: visible;

    /* Effects */
    transform: none;
    transition: all 0.3s ease 0s;
    outline: rgb(255, 255, 255) dashed 0px;
    outline-offset: 0px;
    box-sizing: border-box;
    resize: none;
    text-shadow: none;
    text-overflow: clip;
    word-wrap: normal;
    box-shadow: none;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;

}

#fpPostForm input.button:hover {
    background: #fff;
    color: #09C;
}

#fpPostForm textarea:focus, #fpPostForm input:focus {
    border: 1px solid #09C;
}

#fpPostForm .form-group {

}

#fpPostForm .error {
    color: red !important;

}